//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>

#define Base        0
#define Sym         1
#define Num         2


/ {

    keymap {
        compatible = "zmk,keymap";

    Base {
        label = "Base";
        bindings = <
                    &kp q       &kp W       &kp E         &kp R         &kp T                         &kp Y        &kp U         &kp I       &kp O               &kp P               
                    &kp A       &kp S       &kp D         &kp F         &kp G                         &kp H        &kp J         &kp K       &kp L               &kp SEMICOLON  
        &sk LSHIFT  &kp Z       &kp X       &kp C         &kp V         &kp B                         &kp N        &kp M         &kp COMMA   &kp DOT             &lt 7 SLASH    &sk LEFT_GUI
                                        &to 2  &kp ESCAPE    &kp SPACE         &kp BACKSPACE  &kp ENTER  &to 1 
        >;
    };

  };
};