//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Sym         1
#define Num         2

/ {
    behaviors {
        layer_1_layer_2: layer_1_layer_2 {
            compatible = "zmk,behavior-tap-dance";
            label = "LAYER_1_LAYER_2";
            #binding-cells = <0>;
            bindings = <&to 2>, <&to 1>;
        };

        sqt_to_0: sqt_to_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "SQT_TO_0";
            #binding-cells = <0>;
            bindings = <&kp SQT>, <&to 0>;
        };

        sl_sk: sl_sk {
            compatible = "zmk,behavior-hold-tap";
            label = "SL_SK";
            bindings = <&sk>, <&sl>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
        };

        kp_sk: kp_sk {
            compatible = "zmk,behavior-hold-tap";
            label = "KP_SK";
            bindings = <&sk>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
        };

        kp_kp: kp_kp {
            compatible = "zmk,behavior-hold-tap";
            label = "KP_KP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };
    };

    macros {
        alfred: alfred {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_GUI &kp LGUI>;
            label = "ALFRED";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            label = "Base";
            bindings = <
                          &kp Q  &kp W  &kp E                 &kp R      &kp T            &kp Y      &kp U         &kp I      &kp O    &kp P
                          &kp A  &kp S  &kp D                 &kp F      &kp G            &kp H      &kp J         &kp K      &kp L    &kp SEMICOLON
&kp_sk LEFT_SHIFT ESCAPE  &kp Z  &kp X  &kp C                 &kp V      &kp B            &kp N      &kp M         &kp COMMA  &kp DOT  &kp SLASH      &sl_sk LEFT_SHIFT 3
                                        &kp_kp RIGHT_GUI TAB  &kp SPACE  &kp BACKSPACE    &kp ENTER  &kp LEFT_GUI  &to 1
            >;
        };

        Num {
            label = "Num";
            bindings = <
            &kp BACKSLASH  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp EQUAL       &none      &none       &none         &none      &none
            &kp SEMICOLON  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp DOT         &none      &kp RSHIFT  &kp UP_ARROW  &kp RALT   &kp RGUI
&kp ESCAPE  &kp GRAVE      &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_0    &kp MINUS  &kp LEFT    &kp DOWN      &kp RIGHT  &none     &trans
                                         &to 0         &trans        &trans          &trans     &trans      &to 2
            >;
        };

        Sym {
            label = "Sym";
            bindings = <
            &kp GRAVE  &kp AMPERSAND  &kp ASTERISK  &kp LEFT_BRACE  &kp RIGHT_BRACE    &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp MINUS       &trans          &trans
            &kp COLON  &kp DOLLAR     &kp PERCENT   &kp CARET       &kp PLUS           &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp UP_ARROW    &kp RALT        &kp RGUI
&kp ESCAPE  &kp TILDE  &kp EXCL       &kp AT        &kp HASH        &kp PIPE           &kp DQT               &kp LEFT_ARROW         &kp DOWN_ARROW  &kp LEFT_ARROW  &trans    &trans
                                      &to 0         &trans          &trans             &trans                &trans                 &trans
            >;
        };

        shortcuts {
            bindings = <
       &kp LG(NUMBER_1)  &kp LG(NUMBER_2)  &kp LG(NUMBER_3)  &kp LG(NUMBER_4)  &kp LG(T)    &none  &kp LG(LA(C))  &kp LC(LG(F))  &none          &bt BT_SEL 0
       &none             &none             &none             &none             &none        &none  &kp LG(LC(F))  &kp LG(LC(K))  &kp LG(LC(G))  &bt BT_CLR_ALL
&none  &none             &none             &kp LG(C)         &kp RG(V)         &none        &none  &kp LG(LC(I))  &kp LC(LG(O))  &none          &none           &alfred
                                           &none             &none             &none        &none  &none          &none
            >;
        };
    };
};
